@font-face {
  font-family: "iconfont"; /* Project id 4823061 */
  src: url("iconfont.woff2?t=1739001029089") format("woff2"),
    url("iconfont.woff?t=1739001029089") format("woff"),
    url("iconfont.ttf?t=1739001029089") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ceshi:before {
  content: "\e8ad";
}
